@{
 <nav class="comeniusgroen">
        <ul class="hide-on-med-and-down">
            <li class="brand-logo center"><a style="height:64px;width:137px;padding:0px;margin:0px" href="~/Redirect"><img style="height:64px;width:137px" src="~/Images/logo-comenius.png" alt="Comenius"></a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
            <li><div class="divider"></div></li>                
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </nav>
}