/*Colors*/
.comeniusblauw {
    background-color: #0085BC !important; }
.comeniusgroen {
    background-color: #C7D41B !important; }

/*Sticky Footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; }
main {
    flex: 1 0 auto; }

/*Other*/
html {
    min-width: 320px;
    background-color: #0085BC; }