@{
    var db = Database.Open("Draaimolen");
    var accountId = 0;
    Layout = "~/Layout/_siteLayout.cshtml";
    if(Request.Cookies["accountId"] != null)
    {
        accountId = Convert.ToInt32(Request.Cookies["accountId"].Value);
        var hash = db.QueryValue("SELECT passwordHash FROM Gebruiker WHERE GebruikerID = @0", accountId);
        if (hash != Request.Cookies["hash"].Value)
        {
            //Als je hash ongeldig is word je uitgelogd en doorverwezen
            Response.Cookies["accountId"].Value = "";
            Response.Cookies["accountId"].Expires = DateTime.Now;
            Response.Cookies["hash"].Value = "";
            Response.Cookies["hash"].Expires = DateTime.Now;
            Response.Redirect("~/");
        }
        else
        {
            var rol = db.QueryValue(Queries.rolId, accountId);
            if(rol != "leraar" && rol != "mentor")
            {
                //Als je rol niet leraar is word je doorverwezen
                Response.Redirect("~/");
            }
            else
            {
                //Je sessie verlengen
                Response.Cookies["accountId"].Value = accountId.ToString();
                Response.Cookies["accountId"].Expires = DateTime.Now.AddMinutes(30);
                Response.Cookies["hash"].Value = hash;
                Response.Cookies["hash"].Expires = DateTime.Now.AddMinutes(30);
            }
        }
    }
    else
    {
        //Als je niet ingelogd bent word je doorverwezen
        Response.Redirect("~/");
    }
    var vakid = Request.Params["id"];
    List<int> leerlingen = new List<int>();
    var vakken = db.Query("SELECT gebruikerId, ronde1 FROM carousel WHERE ronde1 LIKE @0", "%"+vakid+"%");
    foreach(var vak in vakken)
    {
        string[] ids = vak.ronde1.Split(','); 
        if(ids.Contains(vakid))
        {
            leerlingen.Add(vak.gebruikerId);
        }
    }
}
<div class="card-panel">
    <a href="~/Leraar">Terug naar de vorige pagina</a>
    <table class="responsive-table hoverable">
        <thead>
            <tr>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Klas</th>
                <th>Niveau</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var leerling in leerlingen)
            {
                var leerlinginfo = db.QuerySingle("SELECT voornaam, achternaam, klas, niveau FROM leerling WHERE gebruikerId = @0", leerling);
                <tr>
                    <td>@leerlinginfo.voornaam</td>
                    <td>@leerlinginfo.achternaam</td>
                    <td>@leerlinginfo.klas</td>
                    <td>@leerlinginfo.niveau</td>
                </tr>
            }
        </tbody>
    </table>
</div>